body {
  margin: 0;
  overflow: hidden
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.joystick-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 50%;
}

@media (min-width: 1024px) {
  .joystick-container {
    display: none;
  }
}
